{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="row justify-content-center" style="margin-top: 60px; margin-bottom: 100px;">
  <div class="card col-5 m-2 p-3 justify-content-center">
    <div class="card-body">
      <h5 class="card-title">Ingenium</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Inspire the engineer of tomorrow, today!</h6>
      <div class="card-text">
        <p>
          Empower the engineers of tomorrow with practical skills today! Our platform offers immersive business cases that mirror real-world professional challenges. Designed to foster critical thinking, drive innovation, and hone project management expertise, these case studies provide a hands-on learning experience. Tackle real scenarios, navigate economic complexities, mitigate risks, and uncover strategic opportunities. This engaging approach prepares you for confident decision-making and triumph in intricate professional endeavors.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
